*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --black: #232536;
  --white: #FFFFFF;
  --gray: #333333;
  --yellow:  #FFD050;


}
.con{
  padding:3rem 0rem;
}